.books {
    font-family: "Times New Roman", Times, serif;
    text-align: justify;
}

.h3 {
    font-style: italic;
    font-weight: normal;
}

.chapter_header {
    display: flex;
    flex-direction: column;
    align-items: center;
}