.books {
    font-family: "Times New Roman", Times, serif;
    text-align: justify;
}

.book_subheading {
    font-style: italic;
    font-weight: normal!important;
}

.chapter_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

.chapter_number {
    text-transform: uppercase;
}

.location {
    font-style: italic;
}